body {
    background-image: url("../images/lghtmesh.png");
    margin: 0;

}



.navbar-expand-lg {
    padding: 0px;
    
}

.navbar-brand {
    /* background-color: #4aaaa5; */
    margin-left: 100px;
    padding: 8px 8px 6px 8px;
    font-size: 18pt;
    height: 56px;
    
    
}

.navbar-collapse {
    margin-right: 100px;
}