body {
    background-image: url("../images/lghtmesh.png");
    margin: 0;

}

.navbar-expand-lg {
    padding: 0px;
    
}

.navbar-brand {
    background-color: #4aaaa5;
    margin-left: 69px;
    padding: 8px 8px 6px 8px;
    font-size: 18pt;
    height: 56px;
    
    
}

.navbar-collapse {
    margin-right: 60px;
    
}

.navbar-toggler {
    margin-right: 60px;
    
}

.navbar-nav .nav-link {
    float: right;
    
}


.container-fluid {
    margin: 6px;
    padding: 4px;
    
}

/* row content header */
.content-header {
    margin: 20px 60px 0px 60px;
    height: 100px;
    background-color: #ffffff;
}

#border-line {
    padding-top: 24px;
    padding-bottom: 14px;
    border-bottom: 1.5px solid #cccccc;
    width: 100%;

}

h4 {
    color: #4aaaa5;

}

.content-section {
    margin: 0 60px 40px 60px;
    height: 400px;
    background-color: #ffffff;
    
}
